:root{
    /* Colors */
    --main-color: #01aef2;
    --title-color: #3f3f95;
    --title-hover-color: #0076a4;
    --carousel-background: #28b9f38e;
    --subtitle-color: #9d8982;
    --text-color: #FFF;
    --secondary-text-color: #FFF;
    --button-color: #FFF;
    --hover-button-color: #FFF;
    --salmon-color: #ff5b49;
    --white-color: #FFF;
    --black-color: rgb(71, 71, 71);

    --red-color: #cc1400;
    --green-color: #00c26e;
    --blue-color: #1c9dff;

    --red-light: #b81200;
    --green-light: #00b064;
    --blue-light: #2692e5;

    /* Font and tipography */
    --body-font: 'Rubik', sans-serif;

    /* Font weight */
    --font-medium: 500;
    --font-semibold: 600;
}

body{
    font-family: var(--body-font)
}

.header__main{
    background: var(--main-color);
    margin-bottom: 0.5rem;
}

.marton__container{
    background: var(--title-color);
    border-radius: 5px;
}

.marton__title{
    color: #FFF;
    font-weight: var(--font-medium);
    padding: 0 1rem;
}

.navbar__option{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.navbar__option:hover{
    color: var(--title-hover-color);
    transition: .3s;
}

.search__input{
    border-color: var(--title-color);
}

.search__btn{
    border-color: var(--title-color);
    color: var(--title-color);
}

.search__btn:hover{
    color: #FFF;
    background: var(--title-color);
}

/*========== Location ==========*/

.title{
    color: var(--title-color);
    margin-top: -2rem;
    text-align: center;
}

.map__google{
    align-items: center;
}

.frame__map{
    margin-bottom: 1rem;
    width: 80vw;
    height: 39vh;
    margin-left: 7.5vw;
}
.map__text{
    background: var(--title-color);
    width: 80%;
    max-height: 60%;
    margin-left: 10%;
    border-radius: 1rem;
    color: var(--white-color);
}

.map__title{
    max-height: 70vh;
}

.icon__map, .about__subtext{
    font-size: 1.2rem;
}

.icon__map{
    font-weight: bold;
}
.map__btn{
    background: var(--white-color);
    width: 50%;
    vertical-align: middle;
    height: 20%;
    margin-left: 25%;
    cursor: pointer;
}

.emergency__contact{
    font-size: 13px;
}

@media screen and (min-width:568px){

    .frame__map{
        width: 80%;
    }

    .map__text{
        width: 80%;
        height: 60vh;
    }
    
    .emergency__contact{
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 768px){
    .title{
        max-height: 10vh;
    }

    .frame__map{
        width: 45vw;
        margin-left: auto;
        height: 50vh;
    }

    .map__text{
        width: 30vw;
        margin-right: auto;
        height: 80vh;
    }

    .about__sub-subtitle{
        font-size: 1.5rem;
    }

    .icon__map, .about__subtext{
        font-size: 2rem;
    }

    .map__btn{
        max-height: 15%;
        font-size: 1.1rem;
    }
}

/*----- Large devices -----*/
@media screen and (min-width: 1024px){

}
